{% extends 'backOffice/base.html.twig' %}

{% block title %}Users List{% endblock %}

{% block body %} 


<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Register User</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(registrationForm, {'attr': {'class': 'form-horizontal'}}) }}
                        {% if form_errors(registrationForm.email) or form_errors(registrationForm.role) %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% if form_errors(registrationForm.email) %}
                                        <li>{{ form_errors(registrationForm.email) }}</li>
                                    {% endif %}
                                    {% if form_errors(registrationForm.role) %}
                                        <li>{{ form_errors(registrationForm.role) }}</li>
                                    {% endif %}
                                </ul>
                            </div> 
                        {% endif %}
                        <div class="form-group">
                            {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(registrationForm.role, 'Sign Up As', {'label_attr': {'class': 'control-label'}}) }}
                            {{ form_widget(registrationForm.role, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block js %}
 {% endblock %}