{% extends '/frontOffice/base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
<div class="container"> 
    <h1>Register</h1>
    {{ form_start(registrationForm) }}
    <div class="form-group col-6">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control custom-input', 'placeholder': 'Email'}}) }}
       {% if form_errors(registrationForm.email) %}
    <div class="alert alert-danger">
        <ul>
           {{ form_errors(registrationForm.email) }}
        </ul>
    </div>
    {% endif %}
    </div>
    <div class="form-group col-6" >
        {{ form_label(registrationForm.plainPassword, 'Password') }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control custom-input', 'placeholder': 'Password'}}) }}
       {% if form_errors(registrationForm.plainPassword) %}
    <div class="alert alert-danger">
        <ul>
           {{ form_errors(registrationForm.plainPassword) }}
        </ul>
    </div>
    {% endif %}
    <div class="form-group col-6">
        <label for="role" class="form-label">Role</label>
        {{ form_widget(registrationForm.role, {'attr': {'class': 'form-control'}}) }}
        {% if form_errors(registrationForm.role) %}
            <div class="alert alert-danger mt-2">
                <ul>
                    {{ form_errors(registrationForm.role) }}
                </ul>
            </div>
        {% endif %}
    </div>
     <div class="form-group col-6" >
    <button type="submit" class="btn btn-primary " style="background-color: #40ba37;">Register</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
