<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>

    .container {
      display: flex;
      flex-direction: column;
      /*height: 650px;*/
    }
    
    .container-md-flex-row {
      display: flex;
    }

    .item-left {
      flex: 1;
      background-color: #000;
      height: 600px;
    }

    .item-left img {
      width: 100%;
      height: 600px;
      background-color: white; 
      object-fit: cover;
      padding: 20px 20px 20px 45px;
    }

    .item-right {
      flex: 1;
      background-color: white; 
      padding: 20px 45px 20px 20px;
      overflow-y: auto;
    }

    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
    }


    .user-info img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .item-left video {
      width: 100%;
      height: 600px;
      background-color: black;
      object-fit: contain;
    }

    .username {
      font-weight: bold;
      color: black;
    }

    .timestamp {
      color: #696868;
      font-size: 14px; 
    }

    .likes-btn {
      background-color: #40ba37; 
      color: white;
      padding: 2px 6px;
      outline: none;
    }

    .description {
      color: #686868;
      margin-bottom: 1rem;
    }

    .stats-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      color: #5d5c5c;
    }

    .stats-container span {
      margin-right: 0.5rem;
    }

    .comment-input {
      width: 100%;
      background-color: white; 
      padding: 0.5rem;
      border: 2px solid #40ba37;
      border-radius: 0.25rem;
      margin-bottom: 1rem;
      gap: 10px;
    }

    .comment {
      color: black;
      margin-bottom: 1rem;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      padding: 5px;
    }

    .user-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

    .user-comment-info {
        display: flex;
        align-items: center;
    }

    .comment-username {
        font-size: 12px;
        font-weight: 600;
    }

    .comment-info {
      display: flex;
      align-items: center;
      color: #4d4d4d;
      font-size: 0.875rem;
    }

    .comment-info button {
      margin-left: 0.5rem;
    }

  </style>
</head>
<body>

  <div class="container" data-post="{{ postWithDetails.post.id }}">
    <span id="POSTE-ID">{{ postWithDetails.post.id }}</span>
    <div class="container-md-flex-row">
      {# <div class="item-left"> #}
        {# <img src="public/images/4.jpg" alt="Video Content"> #}
        {# <img src="{{ postWithDetails.post.image }}" alt="Video Content"> #}
      {# </div> #}

      <div class="item-left">
        {% if postWithDetails.post.image is not null %}
            <img src="{{ postWithDetails.post.image }}" alt="Image Content">
        {% elseif postWithDetails.post.video is not null %}
            <video controls>
                <source src="{{ postWithDetails.post.video }}" type="video/mp4">
            </video>
        {% endif %}
      </div>

      <div class="item-right">
        <div class="info-container">
          <div class="user-info">
            <img src="..." alt="User Avatar">
            <div class="username" id="username-placeholder"></div>
          </div>
          <div class="timestamp">{{ postWithDetails.post.date|date("Y-m-d H:i:s") }}</div>
        </div>
        <div class="title">
          <h4>{{ postWithDetails.post.titre }}</h4>
        </div>
        <div class="description">
          <p>{{ postWithDetails.post.description }}</p>
        </div>
        {# Display edit and delete buttons only if the current user is the author of the post #}
        {% if postWithDetails.post.user == app.user %}
          <button>
            <a href="{{ path('app_poste_edit', {id: postWithDetails.post.id}) }}">Edit</a>
          </button>
          {# <a href="{{ path('app_poste_delete', {id: postWithDetails.post.id}) }}">Delete</a> #}
          <button>
            {% include 'poste/_delete_form.html.twig' with {'poste': postWithDetails.post} %}
          </button>
        {% endif %}
        <div class="stats-container">
          <div class="likes-section">
              {# <button class="likes-btn">Like</button> #}
              <button class="like-btn" data-post-id="{{ postWithDetails.post.id }}">Like</button>
              <span class="likes-count">1.5k</span>
          </div>
          <div class="comments-section">
              <button class="comments-btn">Comments</button>
              <span class="likes-count">1.5k</span>
          </div>
        </div>
        {# <input type="text" class="comment-input" placeholder="Add comment..."> #}
        {# <input type="text" class="comment-input" id="commentInput" placeholder="Add comment..."> #}
        {# <button type="button" class="btn btn-primary" id="postCommentBtn">>></button> #}

        {# <input type="text" id="commentInput" class="comment-input" placeholder="Add comment...">
        <button id="postCommentBtn">Post Comment</button> #}

        <input type="text" class="comment-input" placeholder="Add comment...">
        <button class="post-comment-btn">Post Comment</button>

        <div class="comments" style="height: 400px; overflow-y: auto; border: 1px solid black">
          {% for comment in postWithDetails.comments %}
              <div class="comment">
                  <div class="user-info">
                      <div class="user-comment-info">
                          <img src="{{ comment.user.getImage() }}" alt="User Avatar">
                          <div class="comment-username">{{ comment.user.getInformationPersonnelle().nom() ~ ' ' ~ comment.user.getInformationPersonnelle().prenom }}</div>
                      </div>
                      <div>{{ comment.commentaire }}</div>
                      {% if app.user and comment.user.id == app.user.id %}
                        <div class="comment-actions">
                            <button class="edit-comment-btn" data-comment-id="{{ comment.id }}">Edit</button>
                            {# <button class="delete-comment-btn" data-comment-id="{{ comment.id }}">Delete</button> #}
                            <button>
                              {{ include('commentaire/_delete_form.html.twig', {'commentaire': comment}) }}
                            </button>
                        </div>
                      {% endif %}
                  </div>
                  <div class="comment-info">
                      <span>{{ comment.date|date("Y-m-d H:i:s") }}</span>
                      {# <button>Reply</button> #}
                  </div>
              </div>
          {% endfor %}
      </div>
      
      </div>
    </div>
  </div>


  {# <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> #}

{# <script>
    $(document).ready(function() {
        $('.like-btn').click(function() {
            var postId = $(this).data('postId');
            $.ajax({
                url: '/poste/like/' + postId,
                type: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                success: function(response) {
                    if (response.message === 'Post liked') {
                        $(this).text('Liked');
                        $(this).prop('disabled', true);
                    } else {
                        console.error('Failed to like post');
                    }
                }.bind(this),
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });
    });
</script> #}


</body>
</html>
