<!DOCTYPE html>

<title>Likes index</title>

{% block body %}
    <h1>Likes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>PosteId</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for like in likes %}
            <tr>
                <td>{{ like.id }}</td>
                <td>{{ like.userId }}</td>
                <td>{{ like.posteId }}</td>
                <td>{{ like.date ? like.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_likes_show', {'id': like.id}) }}">show</a>
                    <a href="{{ path('app_likes_edit', {'id': like.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_likes_new') }}">Create new</a>
{% endblock %}
