{% extends '/frontOffice/base.html.twig'  %}
{% block title %}Repas{% endblock %}
{% block body %}

<title>PlanAlim</title>


    <h1>PlanAlim</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plan_alim.id }}</td>
            </tr>
            <tr>
                <th>IdNut</th>
                <td>{{ plan_alim.idNut }}</td>
            </tr>
            <tr>
                <th>IdUser</th>
                <td>{{ plan_alim.idUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_plan_alim_index') }}">back to list</a>

    <a href="{{ path('app_plan_alim_edit', {'id': plan_alim.id}) }}">edit</a>

    {{ include('plan_alim/_delete_form.html.twig') }}
{% endblock %}
