
{% extends '/frontOffice/base.html.twig'  %}
{% block title %}Repas{% endblock %}
{% block body %}
<title>Regime index</title>

    <h1>Regime index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regime in regimes %}
            <tr>
                <td>{{ regime.id }}</td>
                <td>{{ regime.date ? regime.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_regime_show', {'id': regime.id}) }}">show</a>
                    <a href="{{ path('app_regime_edit', {'id': regime.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_regime_new') }}">Create new</a>
{% endblock %}

